[Desktop Entry]
Version=1.0
Type=Application
Name=vrecordX
Exec=/opt/vrecordX/vrecord.sh -d /srv/dva-profession/workflow/02-video_capture/final
Icon=emblem-colors-red
Path=/opt/vrecordX
Terminal=true
StartupNotify=false
GenericName=A professional video recording tool
Comment=Override recording folder and don't wait when finished.
