[Desktop Entry]
Version=1.0
Type=Application
Name=vrecordX (250 min)
Exec=/opt/vrecordX/vrecord.sh -l 250 -1 -s -f
Icon=emblem-colors-red
Path=/opt/vrecordX
Terminal=true
StartupNotify=false
GenericName=Record (250min)
Comment=Override max. duration, increment filename and use identifier as subfolder.
Name[en_US]=vrecordX (250min)
