[Desktop Entry]
Version=1.0
Type=Application
Name=vrecordX (Decklink)
Exec=/opt/vrecordX/vrecord.sh -C 0
Icon=camera-video
Path=/opt/vrecordX
Terminal=true
StartupNotify=false
GenericName=Record (Decklink)
Comment=Sets the capture input to "Decklink"
Name[en_US]=vrecordX (Decklink)
